
.css-rootbox1{
  background-image: url("./images/6843484.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-background-position: center;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-container {
  flex-direction: column;
  display: flex; 
  min-width: 0;
  box-sizing: border-box;   
  min-height: 550px;
  background-color: rgba(247, 234, 234, 0.2);
  border-radius: 25px;
  padding: 10px;
  width: 500px;
  height: 150px;
  
}

.App {
  color: white;
  text-align: center;
  margin: 20px;
  padding: 20;
  box-sizing: border-box;
  font-family: roboto, 'sans-serif';
  align-items: start;
  flex-direction: column;
  flex-direction: nowrap;
  display: inline-flex;

}


.Title {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 24px;   
}

.rootRows {  
  display: flex;
  padding-top: 10px;
}


